.main {
  padding: 2rem;
  min-height: 100vh;
  text-align: center;
  max-width: 800px;
  margin: auto;
  height: 100vh;
}

.header {
  text-align: left;
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 10px;
  margin-bottom: 50px;
  margin-top: 40px;
}

.header h1 {
  font-weight: bolder;
  color: #008e1f;
}

.header .description {
  color: #5c5c5c;
  font-size: 18px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  /* background-color: #f4f4f4; */

  border-radius: 15px;
}
.input {
  padding: 10px;
  font-size: 14px;
  border: 2px solid #ccc;
  border-radius: 10px;
  outline: none;
  transition: border-color 0.3s ease;
  width: 100%;
}

.input:focus {
  outline: 2px solid #008e1fae;
  outline-offset: 2px;
}
.download {
  padding: 8px 16px;
  background-color: #008e1f; /* Change to your preferred background color */
  color: #fff; /* Text color */
  border-radius: 20px; /* Adjust the border radius to make it rounded */
  text-decoration: none; /* Remove default underline */
  transition: background-color 0.3s ease;
  border: none;
  float: left;
  cursor: pointer;
  margin-top: 25px;
}

.download:hover {
  background-color: #005713; /* Change to a darker shade for hover effect */
}
.download:focus {
  outline: 2px solid #102d8d;
  background-color: #002383;
  outline-offset: 2px;
}

.qrCode {
  border-radius: 15px;
}

.footer {
  margin-top: 40px;
  padding: 25px 0px;
  text-align: left;
  font-size: 15px;
  border-top: 0.5px solid #eee;
}

@media screen and (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .main {
    padding: 2rem;
    text-align: left;
  }

  .header {
    text-align: left;
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 10px;
    margin-bottom: 20px;
    margin-top: 0px;
  }

  .qrCode {
    width: 100%;
    border: 1px solid #e0e0e0;
  }
}
